[include]
	path = ~/.gitconfig.user

[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	grep = auto

[core]
	excludesfile = ~/.gitignore
	editor = vim

[push]
	default = current

[alias]
	st = status
	co = checkout
	br = branch

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
